# Compiled JavaScript files
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# npm logs
npm-debug.log*

# Firebase config
.runtimeconfig.json

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db 